body {
    background-color: #cccccc;
    color: #000000;
}
h1 {
    font-size: 12pt;
}
table {
    background-color: #efefef;
    border-style: solid;
    border-color: #2af02c;
    border-width: 1px;
    width: 200px;
}
.odd {
    background-color: #ccc228;
}
th {
    height: 50px;
    font-weight: bold;
    text-align: left;
    background-color: #61676c;
}
tr {
    background-color: #999999;
}
td,th {
    padding: 5px;
}