body {
    color: #000000;
    background-color: #ffffff;
}
.page {
    color: #000000;
    background-color: #ffffff;
    width: 800px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000000;
}
.nav {
    background-color: #cccccc;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.nav a {
    margin: 0px 10px 0px 10px;
}
a:link {
    text-decoration: underline;
}
image {
    margin-left: 10px;
    border: 1px solid #000000;
    float: left;
}
td {
    padding: 5px;
}
.name {
    background-color: #c7c7c7;
}
.position {
    background-color: #666666;
}
.radius {
    background-color: #c7c7c7;
}
