body {
    color: #000000;
    background-color: #ffffff;
    font-size:15px;
}
fieldset {
    font-size: 15px;
    padding: 10px;
    width: 600px;
}
td {
    font-size: 12px;
}
.required {
    color: #cc1c1d;
}
.label {
    text-align: right;
}
td.form {
    width: 600px;
}
div.submit {
    text-align: center;
}
input {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #f2f2f2;
}