body {
    background-color: #c7c7c7;
    background-image: url("1.jpg");
}
a {
    font-size: 24px;
    font-weight: bold;
}
a:link {
    color: #cc1c1d;
    text-decoration: none;
}
a:visited {
    color: #99971c;
    text-decoration: none;
}
a:active {
    color: aqua;
    text-decoration: none;
}
a:link:hover {
    background-color: chartreuse;
    text-decoration: none;
}