body {
    background-color: #c7c7c7;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
a {
    font-size: 24px;
    font-weight: bold;
}
a:link {
    color: #cc1c1d;
    text-decoration: none;
}
a:visited {
    color: #99971c;
    text-decoration: none;
}
a:active {
    color: aqua;
    text-decoration: none;
}
a:link:hover {
    background-color: chartreuse;
    text-decoration: none;
}
ul {
    list-style-type: none;
    list-style-image: url("favicon.ico");
}
li {
    marker-offset: 20px;
}