div.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    font-size: 28px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #666666;
}
p {
    width: 500px;
    color: #000000;
    padding: 5px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    clear: left;
}
p.one {
    margin-top:10px;
}
.pullQuote {
    float: right;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
}
.quote {
    float: right;
    width:200px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
}