body {
    color: #000000;
    background-color: #ffffff;
}
div {
    background-color: #cccccc;
    width: 500px;
    padding: 5px;
}
ul.index {
    list-style-type: circle;
}
ul {
    list-style-type: square;
    font-weight: bold;
}
a:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:link:hover {
    background-color: #2af02c;
}