.bubble .inner-bubble {
    width: 520px;
    padding: 102px 0 38px 0;
}
.bubble .inner-bubble .inner-bubble2 {
    padding: 1px 20px 0 40px;
}
.bubble .inner-bubble .inner-bubble2 div {
    margin-top: -90px;
}