body {
    background: #fff;
    color: #444;
    font-size: 62.5%;
}
a {
    color: #c60;
}
a:hover {
    color: #f60;
    text-decoration: none;
}
h1,h2 {
    color: #b61;
    line-height:1em;
    font-weight: normal;
    margin: 1em 0;
    padding: 0;
}
h1 {
    font-size: 2.2em;
}
#container {
    margin: 0 auto;
    max-width: 60em;
}
#content h2 {
    font-size: 1.2em;
    text-transform: uppercase;
}
#content p {
    font-size: 1.1em;
    line-height: 1.6em;
}
#content img.portrait {
    float: left;
    margin: 0 1em 1em 0;
}
#content span.lead {
    text-transform: none;
}
#content #blurb {
    background: #ffc;
    border: 1px dotted #fc6;
    color: #000;
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 0.5em;
    text-align: center;
}